@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/900.css';

@import '@fontsource-variable/jetbrains-mono';
@import '@fontsource-variable/jetbrains-mono/wght-italic.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .code-inline {
    @apply rounded-md bg-zinc-800 px-1.5 py-1 font-mono text-zinc-100 print:bg-none print:text-zinc-900;
  }
}

@layer utilities {
  input:not(.allow-arrows)[type='number']::-webkit-inner-spin-button,
  input:not(.allow-arrows)[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
